#assetList {
    display: flex;
    flex-wrap: wrap;
}

    #assetList .imgWrapper {
        width: 25%;
        flex: auto;
    }

        #assetList .imgWrapper img {
            width: 100%;
            padding: 0.5rem;
        }