body {
    overflow: hidden;
}

.configuration {
    padding: .5em;

    .details {
        margin: 0 0 2em;
    }

    .notice {
    }

    .json {
        max-width: initial;
        min-width: initial;
        margin: .5em 0 0;
    }
}

.imageSelection, .imageListing, .imageEditor {
    .selectionBar {
        display: flex;
        margin: 0 .5em;
        flex-direction: row;
        align-items: center;

        .imageUploaderMessage {
            margin-left: .5em;
            font-size: .9em;
            color: #9e9e9e;
        }

        button {
            margin-top: .5em;
            margin-bottom: .5em;
        }

        [class^=icon-] {
            margin-top: .6em;
            font-size: 5em;
            color: #eee;
        }
    }
}

.imageSelection, .imageListing {
    .list {
        display: flex;
        flex-wrap: wrap;

        .imageListingWrapper {
            width: calc(100%/3 - 1em);
            margin: 0.5em;

            .imageListing {
                position: relative;
                width: 100%;
                cursor: pointer;
                background-color: #f5f5f5;
                border-radius: .1em;
                box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
                transition: all .15s cubic-bezier(.23,1,.32,1) 0ms;

                &.selected {
                    outline: .2em solid #2196f3;
                    box-shadow: 0 1px 8px 2px rgba(0,0,0,.2);
                }

                .imageListingActionsPane {
                    position: absolute;
                    top: 0;
                    z-index: 100;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    cursor: default;
                    background-color: hsla(0,0%,96.1%,.85);

                    .imageListingAction {
                        i {
                            padding: .5em .6em;
                            font-size: 1em;
                            color: #424242;
                            cursor: pointer;
                        }

                        &.imageListingActionAddParams {
                            i:hover {
                                color: #fff;
                                background-color: #ffe082;
                            }
                        }

                        &.imageListingActionDownload {
                            i:hover {
                                color: #fff;
                                background-color: #2196f3;
                            }
                        }

                        &.imageListingActionRemove {
                            i:hover {
                                color: #fff;
                                background-color: #ef5350;
                            }
                        }

                        .icon-add-params:before {
                            content: "\E73E";
                        }
                    }
                }

                .imageListingPreview {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 200px;

                    img.imageListingImage {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .imageListingBottom {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    width: 100%;
                    background-color: hsla(0,0%,96.1%,.8);
                    border-bottom-right-radius: .1em;
                    border-bottom-left-radius: .1em;
                    transition: all .15s cubic-bezier(.23,1,.32,1) 0ms;
                    padding: .5em;

                    .assetDetailsSummary {
                        .assetDetailsTitle {
                            display: block;
                            width: 100%;
                            margin-bottom: .25em;
                            font-size: 0.9em;
                            line-height: 1.25;
                            word-wrap: break-word;
                            white-space: nowrap;

                            .assetDetailsName {
                                overflow: hidden;
                                text-overflow: ellipsis;

                                .assetDetailsFileName {
                                    color: #424242;
                                }
                            }
                        }

                        .assetDetailsTechDetails {
                            display: block;
                            font-size: 0.9em;
                            line-height: 1.1;
                            opacity: 1;

                            .assetDetailsTechDetail {
                                &:after {
                                    color: #424242;
                                    content: "\A0\B7\A0";
                                }

                                &:last-of-type:after {
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.imageEditor {
    .editor {
        display: flex;
        flex-wrap: wrap;
        background: #eee;

        .imageEditorPreview {
            margin: 0.5em;
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: 400px;
            flex: 10;

            .imageWrapper {
                position: relative;

                .cropBox {
                    position: absolute;
                    outline: 1px dashed red;
                }

                .imageMask {
                    min-width: 100%;
                    min-height: 100%;
                    position: absolute;
                }

                .imageEditorImage {
                    max-width: 100%;
                    max-height: 100%;
                    outline: .2em solid #2196f3;
                    box-shadow: 0 1px 8px 2px rgba(0,0,0,.2);
                    pointer-events: none;
                }
            }
        }

        .editorControls {
            right: 0;
            min-height: 100%;
            flex: 3;
            background: #f5f5f5;
            border-left: 1px solid #e0e0e0;
            padding: 1em;
        }
    }
}