body {
    overflow: hidden;
}

.configuration {
    padding: .5em;

    .details {
        margin: 0 0 2em;
    }

    .notice {
    }

    .json {
        max-width: initial;
        min-width: initial;
        margin: .5em 0 0;
    }
}

.imageSelection, .imageListing, .imageEditor {
    .selectionBar {
        display: flex;
        margin: 0 .5em;
        flex-direction: row;
        align-items: center;

        .imageUploaderMessage {
            margin-left: .5em;
            font-size: .9em;
            color: #9e9e9e;
        }

        .spacer {
            flex: 1;
        }

        button {
            margin-top: .5em;
            margin-bottom: .5em;
        }

        .switch-wrapper {
            margin-right: .5em;
        }

        .urlInput {
            width: initial;
            flex: 1;
            margin-right: .5em;
            direction: rtl;
        }
    }
}

.imageSelection, .imageListing {
    .list {
        display: flex;
        flex-wrap: wrap;
        max-height: calc(600px + 3em);
        overflow-y: scroll;
        overflow-x: hidden;

        .imageListingWrapper {
            width: calc(100%/3 - 1em);
            margin: 0.5em;

            .imageListing {
                position: relative;
                width: 100%;
                cursor: pointer;
                background-color: #f5f5f5;
                border-radius: .1em;
                box-shadow: 0 1px 3px 1px rgba(0,0,0,.2);
                transition: all .15s cubic-bezier(.23,1,.32,1) 0ms;

                &.selected {
                    outline: .2em solid #2196f3;
                    box-shadow: 0 1px 8px 2px rgba(0,0,0,.2);
                }

                .imageListingActionsPane {
                    position: absolute;
                    top: 0;
                    z-index: 100;
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                    cursor: default;
                    background-color: hsla(0,0%,96.1%,.85);

                    .imageListingAction {
                        i {
                            padding: .5em .6em;
                            font-size: 1em;
                            color: #424242;
                            cursor: pointer;
                        }

                        &.imageListingActionAddParams {
                            i:hover {
                                color: #fff;
                                background-color: #ffe082;
                            }
                        }

                        &.imageListingActionDownload {
                            i:hover {
                                color: #fff;
                                background-color: #2196f3;
                            }
                        }

                        &.imageListingActionRemove {
                            i:hover {
                                color: #fff;
                                background-color: #ef5350;
                            }
                        }

                        .icon-add-params:before {
                            content: "\E73E";
                        }
                    }
                }

                .imageListingPreview {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    height: 200px;

                    img.imageListingImage {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }

                .imageListingBottom {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: flex;
                    width: 100%;
                    background-color: hsla(0,0%,96.1%,.8);
                    border-bottom-right-radius: .1em;
                    border-bottom-left-radius: .1em;
                    transition: all .15s cubic-bezier(.23,1,.32,1) 0ms;
                    padding: .5em;

                    .assetDetailsSummary {
                        .assetDetailsTitle {
                            display: block;
                            width: 100%;
                            margin-bottom: .25em;
                            font-size: 0.9em;
                            line-height: 1.25;
                            word-wrap: break-word;
                            white-space: nowrap;

                            .assetDetailsName {
                                overflow: hidden;
                                text-overflow: ellipsis;

                                .assetDetailsFileName {
                                    color: #424242;
                                }
                            }
                        }

                        .assetDetailsTechDetails {
                            display: block;
                            font-size: 0.8em;
                            line-height: 1.1;
                            opacity: 1;

                            .assetDetailsTechDetail {
                                &:after {
                                    color: #424242;
                                    content: "\A0\B7\A0";
                                }

                                &:last-of-type:after {
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.imageEditor {
    .editor {
        display: flex;
        flex-wrap: wrap;
        background: #eee;

        .imageEditorPreview {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 400px;
            flex: 9;
            overflow: hidden;
            position: relative;

            .imageWrapper {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                position: relative;
                padding: .5em;

                .imageMask {
                    min-width: calc(100% - 1em);
                    min-height: calc(100% - 1em);
                    position: absolute;
                }

                .imageEditorImage {
                    box-shadow: 0 1px 8px 2px rgba(0,0,0,.2);
                    pointer-events: none;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            &.scaleToFit {
            }

            &.preview {
                .imageWrapper {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .imageEditorImage {
                        max-width: initial;
                        max-height: initial;
                    }
                }

                &::after {
                    content: "(Hover to edit)";
                    position: absolute;
                    color: #757575;
                    width: 100%;
                    background-color: hsla(0,0%,96.1%,.8);
                    text-align: center;
                    padding: .5em;
                    bottom: 0;
                }
            }
        }

        .editorControls {
            min-height: 100%;
            flex: 3;
            background: #f5f5f5;
            border-left: 1px solid #e0e0e0;
            padding: 1em 1em 1em 0;

            .control {
                padding: 0.5em 0 0.5em 1em;
                border-left: transparent solid 0.2em;

                &.selected {
                    border-left: #2196f3 solid 0.2em;
                }

                .modes {
                    display: flex;
                    margin: 0 0 .5em 0;
                    border: 1px solid #757575;
                    border-radius: .15em;
                    overflow: hidden;

                    .mode {
                        margin: 0;
                        min-width: 3em;
                        border: none;

                        + .mode {
                            border-left: 1px solid #757575;
                            border-radius: 0;
                        }
                    }
                }

                .fields {
                    display: flex;

                    &.vertical {
                        flex-direction: column;
                    }

                    .fieldsBlock {
                        flex: 1;
                        display: flex;

                        + .fieldsBlock {
                            padding-top: .5em;
                        }
                    }

                    .input {
                        max-width: 50%;
                        display: flex;
                        width: 100%;

                        + .input {
                            padding: 0 0 0 0.5em;
                        }

                        .colorBox {
                            z-index: 1;
                            position: absolute;
                            height: 100%;
                            width: calc(100% - .5em);
                        }

                        .colorBoxBackground {
                            position: absolute;
                            height: 100%;
                            width: calc(100% - .5em);
                        }

                        .picker {
                            position: absolute;
                            right: calc(100% + .5em);
                            z-index: 1000;

                            .sketch-picker {
                                > div:nth-of-type(3) {
                                    display: none !important;
                                }
                            }
                        }

                        > input {
                            width: 3.5em;
                            text-align: right;
                            min-width: initial;
                            flex: 1;

                            + span {
                                padding: .375em .25em 0 .25em;
                                margin: 0em;

                                &[title] {
                                    color: #2196f3;
                                    cursor: pointer;
                                }
                            }
                        }

                        > span {
                            padding: .375em .25em 0 .25em;
                            margin: 0em;

                            + input {
                                width: 3.5em;
                                text-align: right;
                                min-width: initial;
                                flex: 1;
                            }
                        }

                        &:last-of-type {
                            input {
                                + span {
                                    /*padding: 0.2em 0;*/
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-balloon] {
    position: relative;

    &:after, &:before {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        font-weight: 400;
        pointer-events: none;
        transition: all .25s cubic-bezier(.23,1,.32,1) 50ms;
        bottom: 100%;
        left: 50%;
        z-index: 2400;
        -webkit-transform: translate(-50%,10px);
        transform: translate(-50%,10px);
        -webkit-transform-origin: top;
        transform-origin: top
    }

    &:after {
        padding: .5em 1em;
        margin-bottom: 11px;
        font-size: 14px;
        color: #fff;
        white-space: pre;
        background: #424242;
        border-radius: 2px;
        content: attr(data-balloon)
    }

    &:before {
        width: 18px;
        height: 6px;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='12'%3E%3Cpath fill='%23424242' d='M2.658 0h32.004c-6 0-11.627 12.002-16.002 12.002C14.285 12.002 8.594 0 2.658 0z'/%3E%3C/svg%3E") no-repeat;
        background-size: 100% auto;
        margin-bottom: 5px;
        content: ""
    }

    &.balloon-displayed:after, &.balloon-displayed:before, &:hover:after, &:hover:before {
        opacity: 1;
        filter: alpha(opacity=100);
        pointer-events: auto;
        -webkit-transform: translate(-50%);
        transform: translate(-50%)
    }

    &[data-balloon-break]:after {
        white-space: normal
    }

    &.balloon-tethered {
        min-width: 1px
    }
}

[data-balloon=""]:after, [data-balloon=""]:before {
    content: normal
}

[data-balloon-pos=down] {
    &:after, &:before {
        top: 100%;
        bottom: auto;
        left: 50%;
        margin-bottom: 0;
        -webkit-transform: translate(-50%,-10px);
        transform: translate(-50%,-10px)
    }

    &:after {
        margin-top: 11px
    }

    &:before {
        width: 18px;
        height: 6px;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='12'%3E%3Cpath fill='%23424242' d='M33.342 12H1.338c6 0 11.627-12.002 16.002-12.002C21.715-.002 27.406 12 33.342 12z'/%3E%3C/svg%3E") no-repeat;
        background-size: 100% auto;
        margin-top: 5px;
        margin-bottom: 0
    }

    &.balloon-displayed:after, &.balloon-displayed:before, &:hover:after, &:hover:before {
        -webkit-transform: translate(-50%);
        transform: translate(-50%)
    }
}

.invalidUsage {
    margin: 1em;
}